@model IEnumerable<ChatApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-10">

        <table>

            <thead>
                <tr><th> <h4> Liste Des Utilisateurs</h4></th></tr>


            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="@item.Id">

                        <td>
                            @Html.DisplayFor(m => item.UserName)
                        </td>

                        <td>
                            @*  @Html.DisplayFor(m => item.actif)*@
                        </td>

                        <td> Active Now</td>
                        <td><button data-dismiss="modal" data-target="#myModalConversation" href="@Url.Action("ShowConversation","Conversation"@*,new { IdReceiver = item.Id }*@)" aria-hidden="true">Show Conversation</button></td>

                    </tr>

                }
            </tbody>
            <tfoot></tfoot>
        </table>

    </div>
</div>
@*show conversation modal*@



@*----------------------------Model Add New Folder*@
<div class="modal fade" id="myModalConversation" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="contenu">
            <div class="modal-body">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"> Loading </h3>
                    </div>
                    <div class="box-body">
                        Loading
                    </div>
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
